<div class="card">
    <div class="card-header">
        <h5 class="title">Informações de Entrega</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nome">Nome Completo:</label>
                        <input type="text" name="nome" class="form-control" placeholder="Nome Completo">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rua">Rua, Avenida, etc:</label>
                        <input type="text" class="form-control" name="rua" placeholder="Ex: Rua ABCD">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numero">Numero:</label>
                        <input type="text" class="form-control" name="numero" placeholder="Ex:1234">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cep">CEP:</label>
                        <input type="text" class="form-control" name="cep" placeholder="Ex:12345-678">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cidade-estado">Cidade e Estado:</label>
                        <input type="text" class="form-control" name="cidade-estado" placeholder="Ex: São Paulo, SP">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-rounded btn-fill btn-success btn-confirmar">Avançar</button>
                </div>
            </div>
        </form>
    </div>
</div>