.title {
   text-align: center;
   padding: 2%;
}

.main {
   padding: 2%;
}
.btn-confirmar {
    font-size: large;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   opacity:  0.5;
   color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   opacity:  0.5;
   color:    #000;

}
::-ms-input-placeholder { /* Microsoft Edge */
   opacity:  0.5;
   color:    #000;

}

::placeholder { /* Most modern browsers support this now. */
   opacity:  0.5;
   color:    #000;

}